.avg-grade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-container {
  justify-content: center;
  margin: auto;
  padding: 10px;
  max-width: 1200px;
}

.badge {
  border: 2px solid black;
}

.table {
  margin-left: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.btn:hover {
  transform: translate(1px, 1px);
}

.input-group-text {
  width: 40px;
}

.header {
  border-bottom: 1px solid rgba(200, 200, 200, .6);
  margin-bottom: 10px;
}
.hidden {
  display: none;
}

@media (max-aspect-ratio: 1/1) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .title {
    justify-content: center;
    text-align: center;
  }
  .avg-grade {
    text-align: center;
    justify-content: center;
  }
  .table-container {
    flex-direction: column;
  }
}
