.avg-grade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-container {
  width: 1000px;
  justify-content: center;
  margin: auto;
  border: 2px solid black;
  padding: 10px;
}

.badge {
  border: 2px solid black;
}

.table {
  margin-left: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.btn:hover {
  transform: translate(1px, 1px);
}

.input-group-text {
  width: 40px;
}

.hidden {
  display: none;
}
